/* .card {
  background: white;
  border-radius: 6px;
  padding: 1rem;
}

.table-toolbar {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.table-toolbar input {
  width: 70px;
}

/* Fix paginator text boldness 
.p-paginator-current {
  font-weight: normal;
} */

.p-paginator {
  justify-content: center;
}
